/* Card List */
.connection
{
    min-height: 100px;
    list-style-type:none;
}

/* Card Containers */
.cards
{
    width: 30%;
    min-height: 20px;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

li
{
    list-style-type: none;
    cursor: move;
}

/* Navigation Bar Color */
.navbar-inverse
{
    background-color: #313131;
    z-index: -1;
}

ul > li
{
    list-style: none;
}

ul
{
    padding-left: 0px;
}

/* this line is only for my sanity so the Save button doesn't keep moving*/
#form_items
{
    height: 300px;
}