**/htmlcov
/htmlcov/
.coverage
.coveragerc
/__pycache__/
.idea/
MyDigitalHealth/__pycache__
MyProject/__pycache__
manage.py
MyDigitalHealth/migrations
MyDigitalHealth/tests/__pycache__
.pytest_cache
*.pyc
*.pyc
*.pyc
