**/htmlcov
/htmlcov/
/.gitignore
.coverage
.coveragerc
/__pycache__/
.idea/
MyDigitalHealth/__pycache__/
MyProject/__pycache__/
*.pyc
.coverage
.coveragerc
MyDigitalHealth/migrations/0001_initial.py
*.pyc
