{% extends "base_generic.html" %}

{% block content %}
	{% load static %}
	<!-- Bootstrap Container -->
	<div class="container">
	<form >
	<h2 class="form-signin-heading">Administration</h2>
	<h3 class="form-signin-heading">My Packages</h3>
		{% for cardPackages in cardPackages %}
			{% if cardPackages.user == request.user %}
			<li><a href="{% url 'packageList' cardPackages.pk %}">Card Package {{ cardPackages.name }}</a></li>
			{% endif %}	
		{% endfor %}
	</form>
	</div>	
{% endblock %}
