{% extends "base_generic.html" %}

{% block content %}
	{% load static %}
	<!-- Bootstrap Container -->
	<div class="container">
	<form >
	<h2 class="form-signin-heading">Administration</h2>
	<h3 class="form-signin-heading">My Packages</h3>
	<ul>
		{% for package in own_packages %}
			<li><a href="{% url 'package_list' package.pk %}">{{ package.package_name }}</a>
				<a href="{% url 'edit' package.pk %} " class="btn btn-default">Edit</a>
			</li>
		{% endfor %}
	</ul>	
	</form>
	</div>	
{% endblock %}
