{% block content %}
	<!-- Bootstrap Container -->
    <div class="row form-group">
        <input id ="cardPackageName" type="hidden" name="name" value="{{ package_name}}">
        <textarea class="form-control" id="commentText" name="comment" placeholder="Comment field for the user"></textarea>
    </div>
    <div class="row form-group">
        <a href="{% url 'edit_package' package_id %}" class="btn btn-default">Edit</a>
        <a href="{% url 'administration' %}" class="btn btn-default">Close</a>
    </div>
{% endblock %}