{% extends "base_generic.html" %}
{% block content %}
	{% load static %}
	<script src="{% static 'scripts/cardsort.js' %}"></script>
	<!-- Bootstrap Container -->
	<div  class="container">
        <h2 class="form-signin-heading">Assign "{{ active_package.package_name }}" Package to a User</h2>
        <h3 class="form-signin-heading">Users</h3>
        {% for user in user_list %}  <!-- TODO remove this logic from here into the view function -->
            <li class="list-group-item">{{ user.get_full_name }}
                <a href="{% url 'assign_to' active_package.pk user.pk %}" class="btn btn-default">Assign</a>
            </li>
        {% endfor %}
    </div>
{% endblock %}