<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Bluebird Digital Technologies</title>{% endblock %}
	<!-- Responsive Web Design -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- AJAX -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Add additional Javascript and CSS in static files -->
	{% load static %}
	<script src="{% static 'scripts/jquery.ui.touch-punch.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'cardsort.css' %}">
</head>
<body onload="showMessages()">

<script>
    function showMessages()
    {
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        {% endif %}
    }
</script>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        {% block heading %}{% endblock %}
        {% block content %}{% endblock %}
        {% block package %}{% endblock %}
        {% block options %}{% endblock %}
    </div>
</body>
</html>