{% extends "base_generic.html" %}
{% block content %}	
	{% load static %}
	<script src="{% static 'scripts/project.js'%}"></script>
	<!-- Bootstrap Container -->
	<div  class="container-fluid" id="formCreator">
        <form class="form-signin" method="post" action="{% url 'cards' %} ">
            {% csrf_token %}
	    <h1>Package Creator</h1>
        <div>
            <!-- Name of Card Package Heading -->
            <label class="fb-text-label">Name of Card Package</label>
            <!-- Name of Card Package -->
            <input type="text" class="form-control" id="nameOfCardPackage">
        </div>
        <br />
            <div>
                <!--Color selection -->
                <label class="fb-text-label">{{ form.main_color.label }}</label><br/>
                <input type="color" onchange="changeHeadingColor()" value="#337ab7" id="id_main_color" />
            </div>
        <br/>
        <!-- Bootstrap Row -->
        <!-- Used to dynamically populate the inputs for Cards and Groups after initial number-of-each entry -->
        <div  class="row" id="pageRows">
        </div>
        <div  class="row" id="buttons">
        </div>
        <!-- Number of Groups and Cards Form-->
        <div class="form-group" id ="create">
            <!-- Number of Groups Heading -->
            <label class="fb-text-label">Number of Groups</label>
            <!-- Number of Groups Input -->
            <input type="number" class="form-control" id="numberOfGroups">
            <!-- Number of Card Heading -->
            <label class="fb-text-label">Number of Cards</label>
            <!-- Number of Card Input -->
            <input type="number" class="form-control" id="numberOfCards">
            <br/>   
            <!-- Create Groups and Cards Button -->
            <button type="button" id="createElements">Create</button>
        </div>

        <!-- Grouping Tables -->
            <div id="listOfCards">
                <!-- Name of Card Package -->
                <input id ="cardPackageName" type="hidden" name="name">
                <!-- Initially hide sortable cards -->
                <div class="cards" id="cards" style="display: none">
                    <ul class="list-group">
                        <!-- Heading of Cards -->
                        <li class="list-group-item active">Cards</li>
                        <!-- Sortable Cards -->
                        <li id="sortable" class="connection"></li>
                    </ul>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
