{% extends "base_generic.html" %}
{% block content %}	
	{% load static %}
	<script src="{% static 'scripts/cardsort.js'%}"></script>
    <div class="container-fluid">
    {% if package_id == -1 %}
        <form action="{% url 'create' %}" method="post" id="new_package">
    {% else %}
        <form action="{% url 'edit' package_id %}" method="post" id="edit_package">
    {% endif %}
        {% csrf_token %}
        <div class="container-fluid">
            <div id="form_items">
                <div class="container-fluid">
                    <h1>Package Creator</h1>
                    <label class="fb-text-label">{{ package_base_form.name.label }}:</label><br/>
                    {{ package_base_form.name }}<br/>
                    <label class="fb-text-label">{{ package_base_form.main_color.label }}:</label>
                    {{ package_base_form.main_color }}
                    <br/><label class="fb-text-label">{{ package_base_form.comments_allowed.label }}:</label>
                    {{ package_base_form.comments_allowed }}
                    <br/><label class="fb-text-label">{{ package_base_form.user_defined_groups.label }}:</label>
                    {{ package_base_form.user_defined_groups }}<br/>
                </div>
                <div class="col-sm-7">
                    <h2 class="form-signin-heading">Cards</h2>
                    {{ cards_formset.management_form }}
                    <ul id="id_card_list">
                        {% for card_form in cards_formset %}
                            <li>{{ card_form }}<input type="button" value="Remove" class="btn btn-default"
                                                      onclick="removeCard(this)"></li>
                        {% endfor %}
                    </ul>
                    <input type="button" value="Add A Card" class="btn btn-default" onclick="cloneItem('card')"/>
                </div>
                <div class="col-sm-5">
                    <h2 class="form-signin-heading">Groups</h2>
                    {{ groups_formset.management_form }}
                    <ul id="id_group_list">
                        {%  for group in groups_formset %}
                            <li>{{ group }}<input type="button" value="Remove" class="btn btn-default"
                                                  onclick="removeGroup(this)"></li>
                        {% endfor %}
                    </ul>
                <input type="button" value="Add A Group" class="btn btn-default" onclick="cloneItem('group')"/>
                </div>
            </div>
        </div>
        <script>
            //Run the toggleGroupsInput() as we load so the group field disable correctly.
            toggleGroupsInput()
        </script>

        <div class="float-bottom-right" id="buttons">
            {% if package_id %}
                <input id ="id_package_id" type="hidden" name="package_id" value="{{ package_id }}"/>
            {% endif %}

            <input type="submit" value="Save and Close" class="btn btn-default"/>
            <input type="submit" value="Save and Preview" name="Preview" class="btn btn-default"/>

        </div>
        </form>

            {% if preview %}
            <hr>
            <h2>Package Preview:</h2>
                {% include 'preview.html' %}
            <hr>
            {% endif %}

    </div>
{% endblock %}
