{% extends "base_generic.html" %}
{% block content %}	
	{% load static %}
	<script src="{% static 'scripts/cardsort.js' %}"></script>
	<!-- Bootstrap Container -->
	<div  class="container-fluid" id="packageCreator">
        <div>
            <!-- Heading -->
            <h1>Create A New Package</h1>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="admin_console">
        <form action="{% url 'create_package' %}" method="post">
            {% csrf_token %}
            <div id="packageNaming">
                <!-- Package Name Heading -->
                <label class="fb-text-label">Package Name</label>
                <!-- Package Name Input-->
                <input type="text" class="form-control" id="nameOfCardPackage" placeholder="New package name" name="package_name">
            </div>

    {#  <!-- Bootstrap Row -->#}
    {#	<div  class="row" id="pageRows">#}
    {#	</div>#}
    {#	<div  class="row" id="buttons">#}
    {#	</div>#}
    {#  Unsure what the above code does at this time #}
            <div class="col-sm-7">
                <div class="form-group" id="cardList">
                    <h2 class="form-signin-heading">Cards</h2>
                    <!-- Cards which can be dynamically added and removed -->
                    <div class="list-group-item">
                        <input type="text" class="form-control" placeholder="Card text here" name="card_text">
                    </div>
                    <div class="list-group-item">
                        <input type="text" class="form-control" placeholder="Card text here" name="card_text">
                        <button type="button" onclick="removeCard(this)">Remove This Card</button>
                    </div>
                </div>
                    <br>
                    <button type="button" onclick="addCard('cardList')">Add A Card</button>
            </div>
            <div class="col-sm-5">
                <div class="form-group" id="categoryList">
                    <!-- Categories which can be dynamically added and removed -->
                    <h2 class="form-signin-heading">Categories</h2>
                    <div class="list-group-item">
                        <input type="text" placeholder="Category" name="category_name" class="form-control"/>
                    </div>
                    <div class="list-group-item">
                        <input type="text" placeholder="Category" name="category_name" class="form-control"/>
                        <button type="button" onclick="removeCategory(this)">Remove This Category</button>
                    </div>
                </div>
                <button type="button" onclick="addCategory('categoryList')">Add A Category</button>
            </div >

            <div class="row" id="buttons">
                <input type="button" value="Save and Preview (WIP)" onclick="location.href='{%  url 'index' %}'"/>
                <input type="submit" value="Save and Close"/>
            </div>
        </form>
        </div>
	</div>
{% endblock %}
