<!-- Navigation Bar -->
<!-- Dark Bootstrap Theme -->
<!-- Bootstrap Container -->
<div class="container-fluid" style='background-color: #313131'>
    <!-- Navigation Bar Text -->
    <ul class="nav navbar-nav">
    <!-- Home -->
    <li><a href="{% url 'index' %} " style="color:#969696">Home</a></li>
    {% if request.user.is_staff %}
    <li><a href="{% url 'create_package' %} " style="color:#969696">Create</a></li>
    <li><a href="{% url 'administration' %} " style="color:#969696">Administration</a></li>
    {% endif %}
    <!-- Card Package Dropdown -->
    {% if user.is_authenticated %}
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#969696">Card Packages<span class="caret"></span></a>
        <ul class="dropdown-menu">
        {% for package in card_packages %}
            <li><a href="{% url 'package_open' package.pk %}">{{ package.package_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </ul>
    <!-- Right Aligned Navigation Bar -->
    <ul class="nav navbar-nav navbar-right">
    <!-- Navigation Bar -->
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %} " style="color:#969696"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% else %}
    <!-- Sign Up -->
    <li><a href="{% url 'register' %} " style="color:#969696"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %} " style="color:#969696"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
</div>