{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <script src="{% static 'scripts/cardsort.js' %}"></script>
	<!-- Bootstrap Container -->
	<div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h2>{{ package_name }}</h2>
            </div>
        </div>
        <!-- Cards, initially all in same list titled "Cards" -->
        <div>
            <div class="cards row align-items-center">
                <li class="list-group-item active">Cards</li>
                <ul id="sortable" class="list-group connection">
                {% for card in cards %}
                    <li class="list-group-item">{{ card.card_text }}</li>
                {% endfor %}
                </ul>
            </div>
            {% for category in categories %}
            <div class="cards">
                <li class="list-group-item active">{{ category.category_name }}</li>
                <ul class="list-group connection">
                </ul>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
			<div class="row form-group">
				<form class="form-signin" method="post" action="{% url 'save' package_id %}" >
                    {% csrf_token %}
                    <input id ="id_package_id" type="hidden" name="name" value="{{ package_id}}">
                    <textarea class="form-control" id="id_comment_text" name="comment"
                              placeholder="Feel free to add any comments"></textarea>
                    <input type="submit" value="Save"/>
				</form>
			</div>
        {% endif %}
	</div>	
{% endblock %}
