{% extends "base_generic.html" %}

{% block content %}
	{% load static %}
	{% load templatetags %}
	<script src="{% static 'scripts/view.js'%}"></script>
    <link href="{% url 'css' package.pk %}" rel="stylesheet">
	<div class="container">
        <form  id="submitForm" class="form-signin" method="post" action="{% url 'comments' package.pk %}" >
            {% csrf_token %}
            <div class="row align-items-start">
                <h3>Please fill out the form below.</h3>
            </div>
            <div class="cards row align-items-center">
                <li class="list-group-item active">Cards</li>
                <ul id="sortable" class="list-group connection">
                {% if sortPackageUser == True %}
                    {% for filteredCardsList in filteredCardsList %}
                        <li class="list-group-item" value="{{filteredCardsList.pk}}">{{filteredCardsList}}</li>
                        <input type="hidden" name="filteredCardID" value="{{filteredCardsList.pk}}">
                    {% endfor %}
                {% else %}
                    {% for sortcardList in sortcardList %}
                        {% if sortcardList.package.id == package.pk  %}
                            <li class="list-group-item" value="{{sortcardList.pk}}">{{sortcardList.text }}</li>
                            <input type="hidden" name="cardListID" value="{{sortcardList.pk}}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
		<div id="cardGroupsDiv">
		{% if sortPackageUser == True %}
			{% if package.user_defined_groups == True %}
				{% for filteredGroupsList in filteredGroupsList %}
					<div class="cards" value="{{filteredGroupsList.pk}}" id="{{filteredGroupsList.pk}}">
					<input  type="hidden" name="sortPackages" value="{{sortPackage.pk}}" >	
					<li class="list-group-item active" value="{{filteredGroupsList.title}}">{{filteredGroupsList }}</li>
					<input id ="filteredCardID" type="hidden" name="sortCardGroupID" value="{{filteredGroupsList.pk}}">	
					<ul class="list-group connection cardGroups" value="{{filteredGroupsList.pk}}">
						<li  type="hidden" value="{{ filteredGroupsList.pk}}"></li>
					</ul>
					</div>
				{% endfor %}
				<!-- Card Groups -->
				{% for sortPackage in sortPackage %}
					<div class="cards" value="{{sortPackage.card_group.pk}}" id="{{sortPackage.card_group.pk}}">
						<input  type="hidden" name="sortPackages" value="{{sortPackage.pk}}" >	
						<li><input class="list-group-item active" name="userDefinedGroup" value="{{ sortPackage.user_titles}}"></li>
						<input id ="sortedCardGroupID" type="hidden" name="sortCardGroupID" value="{{sortPackage.card_group.pk}}">	
						<ul class="list-group connection sortedCardGroups" value="{{sortPackage.card_group.pk}}">
						<li  type="hidden" value="{{ sortPackage.card_group.pk}}"></li>
						{% for sortedCards in sortPackage.cards.all %}
							<li class="list-group-item" value="{{sortedCards.pk}}">{{sortedCards }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}	
				{% else %}	
					{% for filteredGroupsList in filteredGroupsList %}
						<div class="cards" value="{{filteredGroupsList.pk}}" id="{{filteredGroupsList.pk}}">
							<input  type="hidden" name="sortPackages" value="{{sortPackage.pk}}" >	
							<li class="list-group-item active" value="{{filteredGroupsList.title}}">{{filteredGroupsList }}</li>
							<input id ="filteredCardID" type="hidden" name="sortCardGroupID" value="{{filteredGroupsList.pk}}">	
							<ul class="list-group connection cardGroups" value="{{filteredGroupsList.pk}}">
								<li  type="hidden" value="{{ filteredGroupsList.pk}}"></li>
							</ul>
						</div>
					{% endfor %}
					<!-- Card Groups -->
					{% for sortPackage in sortPackage|dictsort:"user_titles" %}
						<div class="cards" value="{{sortPackage.card_group.pk}}" id="{{sortPackage.card_group.pk}}">
							<input  type="hidden" name="sortPackages" value="{{sortPackage.pk}}" >	
							<li class="list-group-item active" value="{{ sortPackage.card_group.title}}">{{ sortPackage.card_group}}</li>
							<input id ="sortedCardGroupID" type="hidden" name="sortCardGroupID" value="{{sortPackage.card_group.pk}}">	
							<ul class="list-group connection sortedCardGroups" value="{{sortPackage.card_group.pk}}">
							<li  type="hidden" value="{{ sortPackage.card_group.pk}}"></li>
							{% for sortedCards in sortPackage.cards.all %}
								<li class="list-group-item" value="{{sortedCards.pk}}">{{sortedCards }}</li>
							{% endfor %}
							</ul>
						</div>
					{% endfor %}	
				{% endif %}		
			{% else %}	
				{% if package.user_defined_groups == True %}
					{% for sortGroups in sortGroups %}			
							<div class="cards" value="{{sortGroups.pk}}">
							<li><input class="list-group-item active" name="userDefinedGroup" placeholder="Please Enter A Title"></li>
							<input id ="cardGroupID" type="hidden" name="cardGroupID" value="{{sortGroups.pk}}">	
							<ul class="list-group connection cardGroups" value="{{sortGroups.pk}}">
								<li type="hidden" value="{{sortGroups.pk}}"></li>
							</ul>
							</div>	
					{% endfor %}
				{% else %}	
					{% for sortGroups in sortGroups %}		
						<div class="cards" value="{{sortGroups.pk}}">
						<li class="list-group-item active" value="{{sortGroups.title}}">{{sortGroups}}</li>
						<input id ="cardGroupID" type="hidden" name="cardGroupID" value="{{sortGroups.pk}}">	
						<ul class="list-group connection cardGroups" value="{{sortGroups.pk}}">
						<li type="hidden" value="{{sortGroups.pk}}"></li>
						</ul>
						</div>
					{% endfor %}
				{% endif %}	
			{% endif %}
			</div>

            {% if user.is_authenticated %}
            <div class="row form-group">
                <input id ="cardPackageName" type="hidden" name="name" value="{{package.name}}">
                {% if package.comments_allowed %}
                    {% for comments in comments %}
                        <textarea class="form-control" id="commentText" name="comment">{{comments.comment}}</textarea>
                        <input id ="commentID" type="hidden" name="commentID" value="{{comments.pk}}">
                        {% empty %}
                        <textarea class="form-control" id="commentText" name="comment" placeholder="Feel free to add any comments"></textarea>
                    {% endfor %}
                    {% endif %}
                <input id ="cardsList" type="hidden" name="cardsList" >
                <input type="submit" value="Save" />
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
