{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
    <h2 class="form-signin-heading">Administration</h2>
    <h3 class="form-signin-heading">Assign Package "{{ package.name }}" to Users:</h3><br/>
    <div class="container-fluid">
        <table class="table table-striped" border=0 width="80%" >
            <th>User Name</th>
            <th>Controls</th>
            <th>Sorting Progress</th>
            {% for user in users %}
            <tr>
                <td width="20%"><h4 style="display: inline">{{ user.get_full_name }}</h4> </td>
                <td width="25%"><form class="form" style="display: inline" method="post"
                        {% if user.has_permission %}
                            action="{% url 'unassign' package.pk %}"
                            {% if user.sorted_package %}onsubmit="return confirm('This will delete the user\'s sorted' +
                             ' package. Do you want to continue?');"{% endif %}>
                            <input type="submit" value="Unassign" class="btn btn-default" />
                        {% else %}
                            action="{% url 'assign' package.pk %}">
                            <input type="submit" value="Assign" class="btn btn-default" />
                        {% endif %}
                        <input type="hidden" value="{{ user.pk }}" name="user_id" />
                        {% csrf_token %}
                    </form>
                        {% if user.sorted_package %}
                    <form class="form" style="display: inline" method="post" action="{% url 'view' user.sorted_package %}">
                         <input type="submit" value="View" id="view_{{ user.sorted_package }}" class="btn btn-default" />
                        {% csrf_token %}
                    </form>
                        {% endif %}
                </td>
                <td>
                    {% if user.sorted_package %}
                    Progress:
                    <div class="progress" >
                        <div class="progress-bar" role="progressbar" style="width: {{user.sorted_percent}}%" aria-valuenow="{{user.sorted_percent}}" aria-valuemin="0" aria-valuemax="100">{{user.sorted_percent}}%</div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}