{% extends "base_generic.html" %}

{% block content %}
	{% load static %}
	<script src="{% static 'scripts/../../cardsort/static/cardsort.js' %}"></script>
	<!-- Bootstrap Container -->
	<div class="container">
	<!-- Login Form -->
	<!-- Form Heading -->
	{% for cardPackages in cardPackages %}
	<h2 class="form-signin-heading">Card Package: {{ cardPackages.name}} {{ cardPackages.id}} </h2>
	<form>
		<div>
		{% for cardGroups in cardGroups %}		
		<div id="test" class="cards">
			{% if cardGroups.card_package.pk == cardPackages.id %}
			<!-- Name of Card Groups -->
			<ul class="list-group">
			<li class="list-group-item active">{{ cardGroups.title }}</li>
			</ul>
			{% endif %}
			<!-- Sortable Cards -->
			{% for cardList in cardList %}
			{% if cardList.card_group == cardPackages.card_group  %}
			<li class="list-group-item">{{ cardList.text }}</li>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
		</div>
	</form>
{% endfor %}	</div>	
{% endblock %}
